@page 
@model PokedexV2.Pages_Pokemon.CreateModel

@{
    ViewData["Title"] = "Add Pokemon";
}
<div class="card shadow rounded">
  <div class="card-header">
        <div class="d-grid gap-2 d-md-flex">
            <div class="p-2">
                <h4>
                    <span class="text-uppercase" style="padding:1em;">ADD POKEDEX ENTRY</span>
                </h4>
            </div>
            <div class="p-2 ms-auto">
                    <span><a asp-page="./Index" class="btn btn-outline-light">Go to List</a></span>
            </div>
        </div>
  </div>
  <div class="card-body">
    <div class="details">
          <div class="row">
            <div class="col">
              <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger font-10"></div>
                <div class="row">
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Name" class="control-label mb-1"></label>
                      <input asp-for="Pokemon.Name" class="form-control" />
                      <span asp-validation-for="Pokemon.Name" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Type1" class="control-label mb-1"></label>
                      <select asp-for="Pokemon.Type1" class="form-control">
                          <option value="Bug">Bug</option>
                          <option value="Dark">Dark</option>
                          <option value="Dragon">Dragon</option>
                          <option value="Electric">Electric</option>
                          <option value="Fairy">Fairy</option>
                          <option value="Fighting">Fighting</option>
                          <option value="Fire">Fire</option>
                          <option value="Flying">Flying</option>
                          <option value="Ghost">Ghost</option>
                          <option value="Grass">Grass</option>
                          <option value="Ground">Ground</option>
                          <option value="Normal">Normal</option>
                          <option value="Poison">Poison</option>
                          <option value="Psychic">Psychic</option>
                          <option value="Ice">Ice</option>
                          <option value="Rock">Rock</option>
                          <option value="Steel">Steel</option>
                          <option value="Water">Water</option>
                      </select>
                      <span asp-validation-for="Pokemon.Type1" class="text-danger font-10"></span>
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Type2" class="control-label mb-1"></label>
                      <select asp-for="Pokemon.Type2" class="form-control">
                          <option value="" selected>None</option>
                          <option value="Bug">Bug</option>
                          <option value="Dark">Dark</option>
                          <option value="Dragon">Dragon</option>
                          <option value="Electric">Electric</option>
                          <option value="Fairy">Fairy</option>
                          <option value="Fighting">Fighting</option>
                          <option value="Fire">Fire</option>
                          <option value="Flying">Flying</option>
                          <option value="Ghost">Ghost</option>
                          <option value="Grass">Grass</option>
                          <option value="Ground">Ground</option>
                          <option value="Normal">Normal</option>
                          <option value="Poison">Poison</option>
                          <option value="Psychic">Psychic</option>
                          <option value="Ice">Ice</option>
                          <option value="Rock">Rock</option>
                          <option value="Steel">Steel</option>
                          <option value="Water">Water</option>
                      </select>
                      <span asp-validation-for="Pokemon.Type2" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Genus" class="control-label mb-1"></label>
                      <input asp-for="Pokemon.Genus" class="form-control" />
                      <span asp-validation-for="Pokemon.Genus" class="text-danger font-10"></span>
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Habitat" class="control-label mb-1"></label>
                      <input asp-for="Pokemon.Habitat" class="form-control" />
                      <span asp-validation-for="Pokemon.Habitat" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col col-sm-6">
                    <div class="row">
                      <div class="col col-sm-6">
                        <div class="form-group">
                          <label asp-for="Pokemon.Height" class="control-label mb-1"></label>
                          <div class="input-group">
                            <input asp-for="Pokemon.Height" class="form-control" />
                            <div class="input-group-append">
                              <span class="input-group-text">m</span>
                            </div>
                          </div>
                          <span asp-validation-for="Pokemon.Height" class="text-danger font-10"></span>
                        </div>
                      </div>
                      <div class="col col-sm-6">
                        <div class="form-group">
                          <label asp-for="Pokemon.Weight" class="control-label mb-1"></label>
                          <div class="input-group">
                            <input asp-for="Pokemon.Weight" class="form-control" />
                            <div class="input-group-append">
                              <span class="input-group-text">kg</span>
                            </div>
                          </div>
                          <span asp-validation-for="Pokemon.Weight" class="text-danger font-10"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="form-group">
                      <label asp-for="Pokemon.Generation" class="control-label mb-1"></label>
                      <input asp-for="Pokemon.Generation"  class="form-control" />
                      <span asp-validation-for="Pokemon.Generation" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <div class="form-group">
                      <label asp-for="Pokemon.Definition" class="control-label mb-1"></label>
                      <textarea asp-for="Pokemon.Definition" class="form-control" rows="5"></textarea>
                      <span asp-validation-for="Pokemon.Definition" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <div class="form-group">
                      <label asp-for="Pokemon.PhotoPath" class="control-label mb-1"></label>
                      <input asp-for="Pokemon.PhotoPath" class="form-control" />
                      <span asp-validation-for="Pokemon.PhotoPath" class="text-danger font-10"></span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <div class=form-group>
                      <label asp-for="Pokemon.Abilities" class="control-label mb-1"></label><br/>
                      @if(Model.Pokemon != default! && Model.Pokemon.Abilities != null) {
                          @for(int i = 0; i < Model.Pokemon.Abilities.Count; i++)
                          {
                              <div class="row mt-2">
                                  <div class="col-4">
                                      <div class="form-group">
                                          <label asp-for="@Model.Pokemon.Abilities[i].Name" class="control-label"></label>
                                          <input asp-for="@Model.Pokemon.Abilities[i].Name" class="form-control" />
                                          <span asp-validation-for="@Model.Pokemon.Abilities[i].Name" class="text-danger font-10"></span>
                                      </div>
                                  </div>
                                  <div class="col-8">
                                      <div class="form-group">
                                          <label asp-for="@Model.Pokemon.Abilities[i].Effect" class="control-label"></label>
                                          <input asp-for="@Model.Pokemon.Abilities[i].Effect" class="form-control" />
                                          <span asp-validation-for="@Model.Pokemon.Abilities[i].Effect" class="text-danger font-10"></span>
                                      </div>
                                  </div>
                              </div>
                              <input type="hidden" asp-for="@Model.Pokemon.Abilities[i].PokemonId" value="@Model.Pokemon.ID" />
                          }
                      }
                      <span asp-validation-for="Pokemon.Abilities" class="text-danger font-10"></span>
                      <div class="btn-group mt-3">
                          @{
                              string? disableAdd = Model.Pokemon != default! && Model.Pokemon.Abilities != default! && Model.Pokemon.Abilities.Count >= 3 ? "disable" : null;
                              string? disableRemove = Model.Pokemon == default! || Model.Pokemon.Abilities == default! || Model.Pokemon.Abilities.Count == 0 ? "disable" : null;
                          }
                          <button type="submit" class="btn btn-success" formnovalidate asp-page-handler="AddAbility" disabled="@disableAdd">Add Ability</button>
                          <button type="submit" class="btn btn-danger" formnovalidate asp-page-handler="RemoveAbility" disabled="@disableRemove">Remove Last Ability</button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="row mt-3">
                  <div class="col d-flex justify-content-end">
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit" value="Create">ADD ENTRY</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>